:root {
  --underline-height: .5em;
  --transition-duration: .5s;
}
section{
  background-color:none;
}
.navbtn-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap:nowrap;
  margin-left: 50px;
}
.site-header{
    display: flex;
    width: 100%;
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.25);
    flex-wrap: nowrap;
    justify-content: space-around;
    z-index: 10;
    overflow:hidden;

}
.header-logo{
  margin: auto 0.5em;
  font-size: 2em;
  text-decoration:bold;
  color:#D30000;
  transition: 0.5s;
}
nav {
  position: relative;
  white-space: nowrap;
  margin: 1.5em 0;
  display:flex;
  flex-wrap: wrap;
  transition: 0.5s;
}

nav .underline {
  display: block;
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  height: var(--underline-height);
  width: 74px;
  background: black;
  pointer-events: none;
  mix-blend-mode: multiply;
  transition: .5s ease-in-out;
}


nav  a {
  z-index: 10;
  padding: 1em 1em;
  text-align: center;
  cursor: pointer;
  color:rgb(255, 255, 255);
  transition:0.5s;
}
nav a:hover{
  color:#FAB81B;
}
nav.black .underline {
  background: #D30000;
  height: calc(var(--underline-height) / 2);
  mix-blend-mode: initial;
}
/* .black{
  transition : all 0.5s ease;
} */
.menuicon{
    display: none;
    margin-top: 1.5em;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fdfdfd;
}
@media (max-width: 769px) {
  .site-header{
      box-shadow: none;
      justify-content: space-between;
      height: 100px;
  }
  .header-logo{
    display:inline;
  }
  nav  a {
    z-index: 10;
    padding: 0.5em;
    text-align: center;
    cursor: pointer;
    color:rgb(255, 255, 255);
    transition:0.5s;
  }
  /* mobilemenu */
  /* .menuicon{
      display:inline;
  } */
    /* nav {
      flex-direction: column;
      align-items: center;
      margin:0 auto;
      padding:100px 3em;
      transform: translateY(-300px) scale(0.1);
      opacity: 0;
      transition:0s;
    }
    nav  a {
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      transition:all 0s;
      display: block;
    }
    nav a::after {
      position: absolute;
      content: "";
      top: 100%;
      left: 0;
      width: 100%;
      height: 3px;
      background: #D30000;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.5s;
    }
 nav a:hover {
      color: #FAB81B;
  }
  nav a:hover::after {
      transform: scaleX(1);
      transform-origin: left;
  }

    nav.black .underline{
        display:none;
    } */
}
.site-header.active{
  height:auto;
}
.menuicon.active .bar:nth-child(2) {
  opacity: 0;
}

.menuicon.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.menuicon.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
nav.active{
  transform:translateX(0);
  opacity: 1;
}
.sticky {
  transition:1s;
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  opacity: 0.9;
  height:50px;
  background: rgba(255, 255, 255,0.1);
}

.ctrpad{
  transition:1s;
  margin:0;
  align-items:center;
}